{% extends 'layout.html' %}

{% block main %}
<div class="host__container">
    <div class="hostinfo__container">

        <div class="hostinfo__title">
            <div id="hostinfo__title">
                <h2>{{host.title}}</h2>
            </div>
            <div id="hostinfo__middletitle">
                <div id="middletitle__city">
                    <p>{{host.city}}</p>
                </div>
                <div id="middletitle__save">
                    <p>저장</p>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="hostinfo__Image">
            {% for image in host.Images %}
            <div class="image" id="image{{loop.index}}">
                <img src="../{{image.src}}" alt="" />
            </div>

            {% endfor %}
            {% if host.Images.length < 5 %} <div class="image">
        </div>
        {% endif %}
    </div>

    <!-- info -->
    <div class="hosting__info">
        <div class="hosting__name">
            <h2>{{host.User.nickname}}님의 호스팅 정보</h2>
            <div class="simple__info">
                <p>인원 : {{host.person}} </p>
                <p>침실 : {{host.roominfo_room}} </p>
                <p>욕실 : {{host.roominfo_bathroom}} </p>
            </div>
        </div>

        <div class="hostig__roominfo">
            {{host.hostinfo}}
        </div>

        <div class="hosting__bed">
            <h2>침구/침대 유형</h2>

            <div id="bedicon">
                <i class="fas fa-bed"></i>
                <p>{{host.roominfo_bed}}</p>
            </div>
        </div>

        <div class="date__div">
            <h2>체크인 날짜를 선택해주세요</h2>
            <p>여행 날짜를 선택하시면 예약이 가능한지 확인 하실 수 있습니다.</p>
            <div class="datepicker">
                <h2>여행 일정을 선택해주세요</h2>
                <div id="datepicker">
                    <div id="checkin">
                        <p>체크인</p>
                        <input type="text" placeholder="날짜선택" id="checkinfilter" name="checkinfilter" value="" />
                    </div>
                    <div id="checkout">
                        <p>체크아웃</p>
                        <input type="text" placeholder="날짜선택" id="checkoutfilter" name="checkoutfilter" value="" />
                    </div>
                </div>

                <button id="order__btn">예약 가능 여부 보기</button>
            </div>
        </div>

        <div class="hostinfo__review__div">
            <h2>후기</h2>
        </div>
        {% for review in host.Reviews %}
        <h3>{{review.User.name}}</h3>
        <h3>{{review.comment}}</h3>
        {{review.satisfaction}}
        {% endfor %}
    </div>

</div>
</div>

{% endblock %}
{% block script %}
<script>
    $(function () {

        $('input[name="checkinfilter"], input[name="checkoutfilter"]').daterangepicker({
            autoUpdateInput: false,
            //minDate: new Date()
        });

        $('input[name="checkinfilter"], input[name="checkoutfilter"]').on('apply.daterangepicker', function (ev, picker) {
            $('input[name="checkinfilter"]').val(picker.startDate.format('YYYY/MM/DD'));
            $('input[name="checkoutfilter"]').val(picker.endDate.format('YYYY/MM/DD'));
            //console.log(picker.startDate.format('YYYY/MM/DD'));
        });

    });


    document.querySelector('#order__btn').addEventListener('click', function () {
        const checkin = document.querySelector('#checkinfilter').value;
        const checkout = document.querySelector('#checkoutfilter').value;

        axios.post(`/reservation/reservationChecking/{{host.id}}`, { checkin, checkout })
            .then((response) => {
                if (response.data.success) {
                    const result = confirm('예약이 가능합니다. 예약 하시겠습니까?');
                    if (result) {
                        const checkin = response.data.checkin;
                        const checkout = response.data.checkout;
                        return window.location = `/reservation/{{host.id}}?checkin=${checkin}&checkout=${checkout}`;
                    }
                    return location.reload();
                }
                alert('선택하신 날짜에 이미 예약이 있습니다.');
                return location.reload();
            })
            .catch((error) => {
                console.error(error);
                return alert(error);
            });
    });


</script>
{% endblock %}