{% extends 'layout.html' %}

{% block main %}

<div class="hosts__Content">

    <div class="search__type">
        <a href="?city={{city}}">{{city}}전체</a>
        <a href="?city={{city}}&category=호텔">호텔</a>
        <a href="?city={{city}}&category=모텔">모텔</a>
        <a href="?city={{city}}&category=펜션">펜션</a>
        <a href="?city={{city}}&category=글램핑">글램핑</a>
        <a href="?city={{city}}&category=개인 숙소">개인 숙소</a>
    </div>
    {% if hosts.length !== 0 %}
    <div class="hosts__top">
        <p>총 {{count}}개의 숙소</p>
        {% if category %}
        <h3>{{city}}의 {{category}}</h3>
        {% else %}
        <h3>{{city}} 숙소</h3>
        {% endif %}
    </div>
    <div class="hosts__div" id={{city}}>
        {% for host in hosts %}
        <div class="hosts__info">
            <a href="/post/{{host.id}}">
                <img src="../{{host.Images[0].src}}" alt="" />
                {% set hostTitle = host.title.substring(0, 20) %}
                <p>{{host.city}}</p>
                <p>{{hostTitle}}...</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div id="paging"></div>
    {% else %}
    <div class="hosts__top">
        <h3>검색 결과가 없습니다.</h3>
    </div>
    {% endif %}
</div>



{% endblock %}
{% block script %}

<script>

    const totalData = {{ count }};    // 총 데이터 수
    const dataPerPage = 12;    // 한 페이지에 나타낼 데이터 수
    const pageCount = 5;        // 한 화면에 나타낼 페이지 수


    function paging(totalData, dataPerPage, pageCount, currentPage) {
        const totalPage = Math.ceil(totalData / dataPerPage);    // 총 페이지 수
        const pageGroup = Math.ceil(currentPage / pageCount);    // 페이지 그룹

        let last = pageGroup * pageCount;
        let first;
        // 화면에 보여질 마지막 페이지 번호
        if (last > totalPage)
            last = totalPage;
        if (last < pageCount) {
            first = 1;
        } else {
            first = last - (pageCount - 1);    // 화면에 보여질 첫번째 페이지 번호
        }
        let next = last + 1;
        let prev = first - 1;

        let $pingingView = $("#paging");

        let html = "";

        if (prev > 0)
            html += "<a href=# id='prev'><</a> ";

        for (let i = first; i <= last; i++) {
            html += "<a href=/post/city?city={{city}}&pagenum=" + i + " id=" + i + ">" + i + " </a> ";
        }

        if (last < totalPage)
            html += "<a href=# id='next'>></a>";

        $("#paging").html(html);    // 페이지 목록 생성
        $("#paging a").css("color", "black");
        $("#paging a").click(function () {

            var $item = $(this);
            var $id = $item.attr("id");
            var selectedPage = $item.text();

            if ($id == "next") selectedPage = next;
            if ($id == "prev") selectedPage = prev;

            paging(totalData, dataPerPage, pageCount, selectedPage);
        });

    }

    $("document").ready(function () {
        paging(totalData, dataPerPage, pageCount, 1);
    });





</script>
{% endblock %}