<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/main.css">
    <title>에어비앤비 클론코딩</title>
</head>
<body>
    <div class='header'>
        <img class="header__icon" src="https://i.pinimg.com/564x/04/57/14/0457144332ce38550077355621165d24.jpg" alt="" />
        <div class="header__center">
            <input type="text" placeholder="검색 시작하기"/>
            <i class="fas fa-search"></i>
        </div>
        <div class="header__right">
            <p>호스트 되기</p>  
        </div>
    </div>
    <div class="banner">
        <div class="banner__info">
            <h3>호스트 여러분이 있기에 가능합니다.</h3>
        </div>
    </div>
    {% block main %}
    {% endblock %}

    {% block script %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {%endblock%}
</body>
</html>