<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/join.css">
    <title>에어비앤비 클론코딩</title>
</head>
<body>
    <div class='header'>
        <img class="header__icon" src="https://i.pinimg.com/564x/04/57/14/0457144332ce38550077355621165d24.jpg" alt="" />
        <div class="header__center">
            <input type="text" placeholder="검색 시작하기"/>
            <i class="fas fa-search"></i>
        </div>
        <div class="header__right">
            <p>호스트 되기</p>
            <div class="auth">
                <i class="fas fa-bars"></i>
                <i class="fas fa-user-circle"></i>
            </div> 
        </div>
    </div>
    
    <div class="auth__info">
        <a href="/join"><div class="auth__info__link" id="join__link">회원가입</div></a>
        <div class="auth__info__link">로그인</div>
        <div class="auth__info__link">호스트 되기</div>
    </div>

    {% block main %}
    {% endblock %}

    {% block script %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     
    <script>
        window.onload = function () {
            document.querySelector('.auth').addEventListener('click', function(){
            document.querySelector('.auth__info').style.display = "block";
            });
        }
        
    </script>
    {%endblock%}
</body>
</html>