<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/join.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/host.css">
    <title>에어비앤비 클론코딩</title>
</head>
<body>
    <div class='header'>
        <a href="/"><img class="header__icon" src="https://i.pinimg.com/564x/04/57/14/0457144332ce38550077355621165d24.jpg" alt="" /></a>
        
        <div class="header__center">
            <input type="text" placeholder="검색 시작하기"/>
            <i class="fas fa-search"></i>
        </div>
        <div class="header__right">
            <a href="/host"><p>호스트 되기</p></a>
            <div class="auth">
                <i class="fas fa-bars"></i>
                <i class="fas fa-user-circle"></i>
            </div> 
        </div>
    </div>
    
    <div class="auth__info">
        {% if user and user.id %}
        <a href="/login"><div class="auth__info__link" id="join__link">내정보</div></a>
        <a href="/login"><div class="auth__info__link">로그아웃</div></a>
        {% else %}
        <a href="/join"><div class="auth__info__link" id="join__link">회원가입</div></a>
        <a href="/login"><div class="auth__info__link">로그인</div></a>
        <div class="auth__info__link">호스트 되기</div>
        {% endif %}
    </div>

    {% block main %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
         
        window.onload = function () {
            const openInfo = () =>{
                const authInfo = document.querySelector('.auth');
                document.querySelector('.auth__info').style.display = "block";
                authInfo.removeEventListener('click', openInfo);
                authInfo.addEventListener('click', closeInfo);
            };
            const closeInfo = () => {
                const authInfo = document.querySelector('.auth');
                document.querySelector('.auth__info').style.display = "none";
                authInfo.removeEventListener('click', closeInfo);
                authInfo.addEventListener('click', openInfo);
            };
            const authInfo = document.querySelector('.auth').addEventListener('click', openInfo);
        }
        
    </script>
    {% block script %}
   
    {%endblock%}
</body>
</html>