{% extends 'layout.html' %}

{% block main %}
    <div class="banner">
        <div class="banner__info">
            <h3>호스트 여러분이 있기에 가능합니다.</h3>
        </div>
    </div>
    <div class="city__place">
        <section>가까운 여행지 둘러보기</section>
        <div class="city__info">
            <div class="city" id="서울">
                <img src="https://a0.muscache.com/im/pictures/71e23854-a3c7-491c-b715-6e86233a293f.jpg?im_q=medq&im_w=240" alt="" />
                <p>서울 특별시</p>
            </div>
            <div class="city" id="인천">
                <img src="https://a0.muscache.com/im/pictures/8b318783-723f-4584-9b9b-0eb2c8b6078e.jpg?im_q=medq&im_w=240" alt="" />
                <p>인천 광역시</p>
            </div>
            <div class="city" id="대구">
                <img src="https://a0.muscache.com/im/pictures/6b36a0f9-453f-4d11-974e-0cf164b4d18c.jpg?im_q=medq&im_w=240" alt="" />
                <p>대구 광역시</p>
            </div>
            <div class="city" id="대전">
                <img src="https://a0.muscache.com/im/pictures/f98fbb2e-9e10-4514-b4a7-02c467e1da03.jpg?im_q=medq&im_w=240" alt="" />
                <p>대전 광역시</p>
            </div>
            <div class="city" id="전주">
                <img src="https://a0.muscache.com/im/pictures/087a8dff-a609-4084-86db-f45051c6f23a.jpg?im_q=medq&im_w=240" alt="" />
                <p>전주시</p>
            </div>
            <div class="city" id="강릉">
                <img src="https://a0.muscache.com/im/pictures/926d56aa-8b36-4138-8eae-ad991868b858.jpg?im_q=medq&im_w=240" alt="" />
                <p>강릉시</p>
            </div>
            <div class="city" id="부산">
                <img src="https://a0.muscache.com/im/pictures/a161fb95-6875-4aaa-aecd-3a46dead3220.jpg?im_q=medq&im_w=240" alt="" />
                <p>부산 광역시</p>
            </div>
            <div class="city" id="제주">
                <img src="https://a0.muscache.com/im/pictures/8340bd19-ee32-4669-8b10-a8ac7e7735d4.jpg?im_q=medq&im_w=240" alt="" />
                <p>제주 특별자치도</p>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
<script>

    const city = document.querySelectorAll('.city').forEach(function(tag) {
        tag.addEventListener('click', function() {
            console.log(tag.id);
            const city = encodeURI(tag.id)
            console.log(city);
            window.location = `/post/city?city=${city}`;
            
        });
    });

</script>
{% endblock %}
