{% extends 'layout.html' %}

{% block main %}
    <div class="join__container">
        <div class="join__div">
            <div class="join__title">
                <h3>회원가입</h3>
            </div>
            <form id="join__form">
                <div class="user__info">
                    <input type="text" name="email" placeholder="이메일을 입력해주세요"/>
                    <input type="password" name="password" placeholder="비밀번호를 입력해주세요" />
                    <input type="text" name="name" placeholder="이름을 입력해주세요" />
                    <input type="text" name="nickname" placeholder="사용하실 닉네임을 입력해주세요.">
                </div>
                    <div class="phone__number">
                    <input type="number" name="firstNum" value="010" /> 
                    <input type="number" name="middleNum" placeholder="- - - -" maxlength="4" oninput="numberMaxLength(this);"/> 
                    <input type="number" name="lastNum" placeholder="- - - -" maxlength="4" oninput="numberMaxLength(this);"/>
                </div>
                <button type="submit" id="join__btn">가입하기</button>
            </form>
            <div class="social__join">
                
                <a href="/auth/kakao" id="kakao">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment" class="svg-inline--fa fa-comment fa-w-16 fa-lg mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
                    <p>Kakao 가입</p>
                </a>
                <a href="/auth/facebook" id="facebook">
                    <i class="fab fa-facebook-f"></i>
                    <p>Facebook 가입</p>
                </a>
                <a href="/auth/naver" id="naver">
                    <img src="../img/naver.PNG">
                    <p>Naver 가입</p>
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block script%}
     
    <script>
        
        document.getElementById('join__form').addEventListener('submit', (e) => {
            e.preventDefault();
            const joinData = {
                email: e.target.email.value,
                password: e.target.password.value,
                name: e.target.name.value,
                nickname: e.target.nickname.value,
                phone: e.target.firstNum.value + e.target.middleNum.value + e.target.lastNum.value,
            } 
            console.log(joinData);  
            if(joinData.email === "" ) {
                return alert('이메일을 입력해주세요.');
            }
            if(joinData.password < 4) {
                return alert('비밀번호는 4글자 이상입니다.');
            }
            if(joinData.name === "" || joinData.nickname === "" || joinData.phone === "" || joinData.phone.length > 11) {
                return alert('잘못된 정보입니다.');
            }
            
             axios.post('/auth/join', joinData)
                .then((response) => {
                    if(response.data.joinsuccess){
                        alert(response.data.message);
                        return window.location = "/login";
                    }
                    alert(response.data.message);
                    return location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });

           
            e.target.email.value = '';
            e.target.password.value = '';
            e.target.name.value = '';
            e.target.nickname.value = '';
            e.target.firstNum.value = '';
            e.target.middleNum.value = '';
            e.target.lastNum.value = '';
        });
        function numberMaxLength(e){
            if(e.value.length > e.maxLength){
                e.value = e.value.slice(0, e.maxLength);
            }
        }
    </script>
    
{%endblock%}