/* 숙소 업로드 페이지 */
.host {
    width: 100%;
    height: 100%;
    border-top: 2px solid lightgray;
    display: flex;
    flex-direction: column; 
    padding-bottom: 100px;
}
.host select {
    width: 200px;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    font-size: 17px;
    outline: none;
}

.host__info {
    width: 100%;
    margin-top: 60px;
}
.host__info h2 {
    margin-left: 200px;
}

.hosting__title {
    width: 100%;
    margin-top: 50px;
}
.hosting__title h3,
.hosting__title input {
    margin-left: 200px;
}
.hosting__title input {
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 900px;
    font-size: 17px;
    outline: none;
    padding: 10px;
}

.hosting__hosttype {
    width: 100%;
    margin-top: 50px;
}
.hosting__hosttype h3,
.hosting__hosttype select {
    margin-left: 200px;
}


.hosting__person {
    width: 100%;
    margin-top: 50px;
}
.hosting__person h3,
.hosting__person select {
    margin-left: 200px;
}

.hosting__address {
    width: 100%;
    margin-top: 50px;
}
.hosting__address h3,
.hosting__address select {
    margin-left: 200px;
}
#middle__city {
    margin-left: 100px;
}

.hosting__detailAddress {
    width: 100%;
    margin-top: 30px;
}
.hosting__detailAddress input {
    margin: 10px 0 0 200px;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 900px;
    font-size: 17px;
    outline: none;
    padding: 10px;
}

.hosting__rommInfo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.hosting__rommInfo h3,
.hosting__rommInfo select {
    margin-left: 200px;
}

.hosting__textarea {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.hosting__textarea h3,
.hosting__textarea textarea,
.hosting__textarea input {
    margin-left: 200px;
}

.hosting__textarea textarea {
    width: 1000px;
    height: 500px;
    outline: none;
    resize: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.hosting__textarea input[type="file"] {
    margin: 10px 0 0 200px;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 500px;
    font-size: 17px;
    outline: none;
    padding: 10px;
    
}

#host__btn {
    margin: 50px 0 0 200px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f19393;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/* 호스트 상세페이지 */

.host__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.hostinfo__container {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.hostinfo__title {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#hostinfo__middletitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#middletitle__city{

}
#middletitle__save {

}
.hostinfo__Image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-auto-flow: row !important;
    grid-gap: 10px;
}
.hostinfo__Image img {
    width: 100%;
    height: 100%;
}
.image {
    width: 380px;
    height: 270px;
}
.image:first-child{
    grid-column-start: 1;
	grid-column-end: 3;
    grid-row-start: 1;
	grid-row-end: 3;
    width: 100%;
    height: 100%;
}
#image1 img{
    width: 100%;
    height: 100%;
}
.hosting__info {
    width: 60%;
    margin-top: 50px;
}
.simple__info {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
}
.simple__info p:not(:first-child){
    margin-left: 10px;
}
.hostig__roominfo{
    width: 100%;
    white-space: pre-line;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}
.hosting__bed {
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}
.hosting__bed h2 {
    margin-top: 15px;
}
#bedicon {
    width: 180px;
    height: 130px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
}
#bedicon p {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}
#bedicon i {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.date__div {
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}
.date__div h2{
    margin-top: 15px;
}
.date__div p{
    margin-top: 10px;
}

.datepicker {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}
.datepicker h2 {
    font-size: 15px;
    align-self: flex-start;
    margin-left: 15px;
}
#datepicker {
    width: 250px;
    height: 80px;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 10px;
    margin-top: 15px; 
}
#datepicker p {
    font-size: 10px;
}
#checkin {
    border-right: 1px solid lightgray;
}
#checkin,
#checkout {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#checkin input,
#checkout input {
    width: 100px;
    height: 30px;
    outline: none;
    align-self: center;  
    margin-top: 10px; 
    border: none;
}
#checkin p,
#checkout p {
    margin-left: 10px;
}
#order__btn{
    margin-top: 20px;
    background-color: #ff7777;
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 12px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.review__div {
    height: 300px;
}
.review__div h2{
    margin-top: 15px;
}