.join__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.join__container::before {
    content: "";
    background-image: url("https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.join__div {
    width: 500px;
    height: 550px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    z-index: 11;
}
.join__div form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join__title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.join__title h3 {
    padding: 5px;
}
.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.user__info input {
    width: 300px !important;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 5px;
}
.phone__number{
    display: flex;
}
.phone__number input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    text-align: center;
}
.phone__number input:first-child {
    width: 40px;
}
.phone__number input:not(:first-child){
    width: 90px;
    margin-left: 17px;
}
.phone__number input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#join__btn {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 320px;
    border: 1px solid lightgray;
    background-color: #ff7777;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
}
#join__btn:hover{
    opacity: 0.7;
}

.social__join {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social__join a {
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    width: 180px;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__join a p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}
#kakao {
    background-color: #F7E600;
}
#kakao svg {
    width: 15px;
    height: 15px;
}
#facebook {
    background-color:  #3b5998;
}
#facebook i {
    color: white;
}
#naver {
    background-color: #2DB400;
}
#naver img {
    width: 20px;
    height: 20px;
}