*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 80px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 350px;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    border-top
}
#search-form {
    width: 400px;
    margin-left: 100px;
}
#search-form button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}
.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 100%;
    color: black;
}
.header__center input::placeholder {
    color: black;
    font-weight: 700;
}

.header__center i {
    background-color: #f08080;
    border-radius: 999px;
    padding: 10px;
    color: white;
}

.header__right {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 15vw;
    margin-right: 20px;   
}
.header__right p {
    font-weight: 700;
    margin-right: 20px;
}
.header__right a {
    text-decoration: none;
    color: black;
}
.auth {
    border: 1px solid lightgray;
    border-radius: 999px;
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.auth i {
    font-size: 25px;
    color: gray;
}
.auth i:first-child{
    font-size: 15px;
}
.auth__info {
    position: fixed;
    z-index: 101;
    right: 65px;
    top: 80px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.auth__info a {
    text-decoration: none;
    color: black;
}
.auth__info__link {
    padding: 15px;
}
.auth__info__link:hover{
    background-color: rgb(240, 238, 238);
    color: black;
}


/* 배너 */
.banner {
    /* background: url(
        https://media.cntraveler.com/photos/5e45984fa007f90008d5bb00/16:9/w_1600%2Cc_limit/Hoshinoya-SHINOYA%2520Guguan-Taiwan-2020-5.jpg
        ) center center; */
    background-image: url("https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560");
    background-size: 95% 80%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 70vh;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner__info h3{
    color: white;
    font-size: 30px;
    padding: 35px;
    font-weight: 300;
}

