.login__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login__container::before {
    content: "";
    background-image: url("https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.login__div {
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    z-index: 11;
}
.login__div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.login__title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.login__title h3 {
    padding: 5px;
}
.login__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.login__info input {
    width: 300px !important;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 20px;
    font-size: 17px;
}
.login__info input::placeholder {
    font-size: 15px;
}

#login__btn {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 320px;
    border: 1px solid lightgray;
    background-color: #ff7777;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
}
#login__btn:hover{
    opacity: 0.7;
}